.root{
    margin-left: 10%;
    width: 80%;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}